<!-- TODO: appliquer le bon style de panel -->
<div class="panel" ng-if="tasks().length">
  <div class="panel-heading">
    <!-- TODO afficher le titre -->
    <h2 class="panel-title"></h2>
  </div>
  <div class="list-group">
    <!-- TODO traduire la limite dans la directive -->
    <a class="list-group-item"
       ng-repeat="task in tasks()"
       ng-href="#/tasks/{{ task.id }}">{{ task.title }}</a>
    <!-- TODO traduire la limite dans la directive -->
    <!-- TODO action au click -->
    <a class="list-group-item list-group-item-info">...</a>
  </div>
</div>
