<!-- TODO charger un contrôleur -->
<div class="jumbotron">
  <h1>Welcome to ng-GTD !</h1>

  <!-- TODO n'afficher la liste que s'il y a des tâches (ex2) -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Mes tâches</h2>
    </div>
    <div class="list-group">
      <!-- TODO - itérer sur les tâches (ex2) -->
      <!-- TODO - linker vers une tâche (ex2) -->
      <!-- TODO - ordonner les tâches par date planifiée ascendente (ex3) -->
      <!-- TODO - limiter le nombre de tâches affichées à 5 tâches (ex3) -->
      <!-- TODO - ne limiter que si l'on n'a pas choisi d'afficher toutes les tâches (ex3) -->
      <a class="list-group-item">
        <!-- TODO afficher le titre d'une tâche (ex2) -->
        Une tâche (remplacez moi par le titre)
      </a>
      <!-- TODO n'afficher ce lien que s'il y a plus de 5 tâches (ex3) -->
      <!-- TODO au click sur ce lien, afficher toutes les tâches (ex3) -->
      <a class="list-group-item list-group-item-info">...</a>
    </div>
  </div>


  <p>
    <!-- TODO activer le lien (ex6) -->
    <a class="btn btn-lg btn-block btn-primary">
      Create a new task
    </a>
  </p>
</div>
